*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/* HEADER */

/* MAIN */
.grid-container{
    display: grid;
    place-items: center; /* forma de poner el eje y x alineados en un contenido*/
    text-align: center;
    height: 100vh;
    grid-template: 
    "HEADER" 100px/*tamaño de filas eje Y*/
    "NAVBAR" 50px
    "MAIN" 340px
    "ASIDE" 160px
    "FOOTER" 120px
    ;
    gap: 25px;
    
}

.grid-container > *{
    padding: 10px;
    font-size: 20px;
    box-shadow: 12px 5px 10px rgba(0, 0, 0, 0.664);
    border: 1px solid rgba(0, 0, 0, 0.438);
    border-radius: 15px;
    width: 300px;
    height: 100%;
}

.HEADER{
    width: 97%;
}
.NAVBAR{
    width: 97%;
}
.MAIN{
    width: 97%;
}
.ASIDE{
    width: 97%;
}
.FOOTER{
    width: 97%;
}
div > h2{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FOOTER{
    display: flex;
    align-items: center;
    justify-content: center;
}

.FOOTER a{
    color: rgb(75, 62, 192);
}

.HEADER{
    grid-area: HEADER; /* nombro a cada area para despues hacer el templeate(grilla)*/
    background-color: aqua;
}

.NAVBAR{
    grid-area: NAVBAR;
    background-color: aqua;
}

.MAIN{
    grid-area: MAIN;
    background-color: aqua;
}

.ASIDE{
    grid-area: ASIDE;
    background-color: aqua;
}

.FOOTER{
    grid-area: FOOTER;
    background-color: aqua;
}

/* RESPONSIVE */
@media (min-width:768px){
    .grid-container{
    grid-template: /* forma para armar la grilla*/
    "HEADER NAVBAR" 100px/*tamaño de filas eje Y*/
    "ASIDE MAIN" auto
    "FOOTER FOOTER" 100px/ /* el "/" es para agregar al final de todo la anchura de la columna, se le pide que la primer fila tenga 200px y que la segunda fila se acomode a lo que queda de la pantalla*/
    200px auto;
    ;
   }
}

@media (min-width:992px){
    .grid-container{
        grid-template: /* forma para armar la grilla*/
        "HEADER HEADER HEADER" 100px/*tamaño de filas eje Y*/
        "NAVBAR MAIN ASIDE" auto
        "FOOTER FOOTER FOOTER" 100px/
        200px auto 200px /* con esto le digo al nav que tenga 200 main auto y aside 200*/
        ;

        .HEADER{
            box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.664);
            margin-left:25px ;
        }
        .NAVBAR{
            box-shadow: -12px 5px 10px rgba(0, 0, 0, 0.664);
            margin-left:25px ;
        }
        .ASIDE{
            box-shadow: 12px 5px 10px rgba(0, 0, 0, 0.664);
            margin-right:25px ;
        }
        .FOOTER{
            box-shadow: 2px -5px 5px rgba(0, 0, 0, 0.664);
            margin-right:25px ;
        }

       }
}